@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
  font-family: 'neurimboGothicRegular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
    background-color: rgb(255, 243, 224);
}
.in_game {
  border-radius: 30px;
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 0 0;
	
	transform: scale(0.75);
	transform-origin: 0 0;	
	
	border:1px solid #ccc;
	top:250px;
	left:5vw;

  height:66.15vw;
  width:117.6vw;
  position:absolute;
}
.Cr_logo {
  top:160px;
  left:5vw;
  width:70px;
  height:70px;
  z-index:2;
  border-radius: 20px;
  position:absolute;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.338);
}
h1 {
    opacity:1;
    font-family: "Lobster";
    color: #ffffff;
    top:80px;
    left:calc(50vw - 400px);
    font-size: 160px;
    font-weight: 600;
    position:absolute;
    animation: h1 2s;
    animation-timing-function: ease-out;
}
h2 {
  color: #ffffff;
  font-size: 80px;
  left:140px;
  top:585px;
  font-family: 'neurimboGothicRegular';
  position:absolute;
  z-index:3;
}
h3 {
  width: 35vw;
  color: #000000;
  font-size: 1.64vw;
  margin-top:75px;
  left:calc(60px + calc(60vw - 60px));
  top:585px;
  font-family: 'neurimboGothicRegular';
  position:absolute;
  z-index:4;
}
h4 {
  text-align: right;
  width: 88vw;
  color: #000000;
  font-size: 20px;
  left:5vw;
  top:160px;
  font-family: 'Lobster';
  position:absolute;
  z-index:3;
}
h5 {
  text-align: center;
  width: 70vw;
  color: #000000;
  font-size: 30px;
  left:15vw;
  top:1000px;
  font-family: 'Lobster';
  position:absolute;
  z-index:3;
}
h6 {
  width: 70vw;
  color: #000000;
  font-size: 50px;
  left:11.5vw;
  top:40px;
  font-family: 'neurimboGothicRegular';
  position:absolute;
  z-index:3;
}
.cr_banner {
  width:calc(60vw - 60px);
  height:500px;
  border-radius: 30px;
  filter: brightness(60%);
  left:30px;
  top:660px;
  object-fit:cover;
  position:absolute;
}
.intro_image {
    width:calc(100vw - calc(5vw+580));;
    height:100px;
    left:30px;
    top:130px;
    position:absolute;
}
.intro_image img {
  width:calc(100vw - 60px);;
  height:500px;
  border-radius: 30px;
  filter: brightness(25%);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  object-fit:cover;
  position:absolute;
}
.button1 {
  position:absolute;
  z-index: 4;
  width:70px;
  height:70px;
  left:calc(50vw - 35px);
  top:500px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  animation: button1_sliding 2s;
  animation-timing-function: ease-in-out;
}
.button1:hover {
  filter: brightness(80%);
}
.button2 {
  position:absolute;
  transform: rotate(80deg);
  z-index: 4;
  width:70px;
  height:70px;
  left:-300px;
  top:800px;
  transition: all 2000ms cubic-bezier(.23, 1, 0.32, 1);
}
.button2:hover {
  filter: brightness(80%);
}
.cr_logo {
  top:675px;
  left:46px;
  width:70px;
  height:70px;
  z-index:2;
  border-radius: 20px;
  position:absolute;
}
.intro_des {
  width:807px;
  height:300px;
  left:calc(50vw - 410px);
  top:370px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-family: "Lobster";
  color: #ffffff;
  animation: h1 2s;
  animation-timing-function: ease-out;
  position:absolute;
}
.people {
    top:100px;
    left: calc( 50vw - 500px );;
    width: 1000px;
    height: 600px;
    object-fit:contain;
    position:absolute;
    animation: people 2s;
    animation-timing-function: ease-out;
}
.button_signup {
  left:83vw;
  top:20px;
  appearance: none;
  background-color: #FFECD0;
  border: 2px solid #FFECD0;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Lobster";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
  display:block;
  position:absolute;
  will-change: transform;
  animation: button_sliding 2s;
  animation-timing-function: ease-out;
}
.profile_image {
  left:79.5vw;
  top:23px;
  width: 50px;
  height: 50px;
  object-fit: contain;
  position:absolute;
  animation: profile_sliding 2s;
  animation-timing-function: ease-out;
}
.profile_button {
    left:83vw;
    top:20px;
    appearance: none;
    background-color: #FFECD0;
    border: 2px solid #FFECD0;
    border-radius: 15px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Lobster";
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    display:block;
    position:absolute;
    will-change: transform;
    animation: button_sliding 2s;
    animation-timing-function: ease-out;
  }
.profile_button:disabled {
    pointer-events: none;
}
  
.profile_button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.button_signup:active {
    box-shadow: none;
    transform: translateY(0);
}
.button_signup:disabled {
  pointer-events: none;
}

.button_signup:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_signup:active {
  box-shadow: none;
  transform: translateY(0);
}
.button_login {
  left:91vw;
  top:20px;
  appearance: none;
  background-color: #FFECD0;
  border: 2px solid #FFECD0;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Lobster";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
  position:absolute;
  will-change: transform;
  animation: button_sliding 2s;
  animation-timing-function: ease-out;
}

.button_login:disabled {
  pointer-events: none;
}

.button_login:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_login:active {
  box-shadow: none;
  transform: translateY(0);
}
.up_page_box {
    top:0px;
    left:0px;
    height:100px;
    width:100%;
    z-index: -1;
    object-fit:fill;
    position:absolute;
    animation: box_sliding 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.logo {
    top:15px;
    left:20px;
    height:50px;
    width:50px;
    object-fit: fill;
    position:relative;
    animation: logo_sliding 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.logo_text {
    top:18px;
    left:30px;
    height:50px;
    width:200px;
    object-fit:contain;
    position:relative;
    animation: logo_sliding 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.logo:hover {
    filter: brightness(90%);
    transition: all 0.1s ease-in-out;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #FFFFFF;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #424242;
  font-size: 18px;
  font-family: "Lobster";
  font-weight: 600;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 60px;
  height: 56px;
  border: 1px solid #ffa53d;
  background: #ffa53d;
  text-align: center;
  color: #000000;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: search_sliding 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes logo_sliding {
    from {top: -100px;}
    to {top: 20px;}
  }
@keyframes box_sliding {
    from {top: -120px;}
    to {top: 0px;}
  }
@keyframes button_sliding {
    from {top: -100px;}
    to {top: 20px;}
  }
@keyframes profile_sliding {
    from {top: -97px;}
    to {top: 23px;}
  }
@keyframes h1 {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes people {
    from {left:-100vw;}
    to {left:calc( 50vw - 500px );;}
  }
@keyframes search_sliding {
    from {top: -70px;}
    to {top: 50px;}
  }
@keyframes button1_sliding {
  from {left: -300px; transform: rotate(80deg);}
  to {left: calc(50vw - 35px); transform: rotate(0deg);}
}